extends layout

block content
    h1(class="title") fun music networking #[i(class="fa fa-music")]
    
    p m3 is a network that brings lastfm, spotify, apple music, youtube, soundcloud and a range of other networks into one.
    p we provide a bridge to connect people with similar music tastes despite the everchanging list of music networks
    
    p these networks' social features lack substance and quality. we're here to patch up the missed opportunity.