extends layout

block content
    section(class="hero")
        div(class="hero-body")
            div(class="container")
                h1(class="title") #{user.username}! #[i(class="fa fa-grin-beam")]
                h2(class="subtitle") Hope you're doing well  #[i(class="fa fa-heart")]