extends layout

block content
    section(class="hero")
        div(class="hero-body")
            div(class="container")
                h1(class="title") Welcome to m3 #[i(class="fa fa-users")]
                h2(class="subtitle") Create an account to begin